.vscode/**
.vscode-test/**
src/**
test/**
.gitignore
**/tsconfig.json
rollup.config.mjs
**/*.map
**/*.ts
.github/**
test-workflow.yml
scripts/**
*.vsix
node_modules/**
out/githubApi.js
out/workflowParser.js
logo.jpg
